@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.bg {
  background:
    linear-gradient(rgba(6, 6, 6, 0.7), rgba(6, 6, 6, 0.7)),
    url('/flag.svg');
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #060606;
  color: black
}

/* Base Styles */
.interactive-card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.1s ease, top 0.5s ease, left 0.5s ease, width 0.5s ease, height 0.5s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.interactive-card .content {
  position: relative;
  z-index: 2;
  padding: 20px;
}







.fire-effect-150 {
  animation: burn 1s infinite alternate;
}

.fire-effect-120 {
  animation: burn 0.8s infinite alternate;
}

.fire-effect-90 {
  animation: burn 0.6s infinite alternate;
}

.fire-effect-60 {
  animation: burn 0.5s infinite alternate;
}

.fire-effect-30 {
  animation: burn 0.4s infinite alternate;
}

@keyframes burn {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}